* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 8px;
}

button,
button:hover,
button:focus {
  outline: none;
  border: none;
}

:root {
  font-size: 14px;
}

section {
  margin: 0px auto 80px;
  text-align: center;
}

/*Header*/
header {
  height: 7vh;
  width: 100vw;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header > * {
  margin: auto 8px;
}

header img {
  height: 54px;
  width: 46px;
}

nav {
  height: 100%;
  width: 100%;
}

nav ul {
  height: 100%;
  width: 100%;
  display: inline-flex;
  align-items: center;
  color: navy;
  justify-content: space-around;
  z-index: 999;
}

.burger {
  height: 50px;
  width: 38px;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  flex-direction: column;
  display: none;
  z-index: 999;
}

.burger .bi-x {
  display: none;
}

.line {
  height: 0.3rem;
  background: black;
  margin: 3px;
}

/*Banner*/
.banner {
  min-height: 50vh;
  width: 100vw;
  background: skyblue;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.banner .text {
  min-width: 50%;
}

.banner img {
  border-radius: 8px;
  margin-left: auto;
}

.banner h1 {
  font-size: 3rem;
  color: navy;
}

.banner span {
  font-size: 1.4rem;
  color: red;
}

.banner p {
  color: navy;
}

.banner button {
  height: 50px;
  width: 120px;
  border: 1px solid skyblue;
  background: navy;
  color: skyblue;
  cursor: pointer;
  border-radius: 24px;
  font-size: 1rem;
  margin: 12px auto;
}

/*Booth*/
.booth ul {
  display: flex;
  gap: 4rem 20rem;
  margin: 3rem 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.booth li {
  position: relative;
}

.booth img {
  height: 20rem;
  width: 20rem;
}

.booth li::before {
  content: "";
  height: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 4px;
  background: red;
}

.booth li::after {
  content: "";
  height: 4px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  background: red;
}

/*Values*/
.values {
  padding: 12px;
}

.values > div {
  margin-bottom: 16px;
}

.values div h1 {
  color: red;
  font-size: 3rem;
}

.values div p {
  color: navy;
}

.values > h1 {
  font-size: 1.6rem;
  color: red;
}

.values > button {
  height: 50px;
  width: 120px;
  border: 1px solid skyblue;
  background: navy;
  color: skyblue;
  cursor: pointer;
  border-radius: 24px;
  font-size: 1rem;
  margin: 12px auto;
}

/*News*/
.news {
  padding: 60px 12px 20px;
  background: navy;
  color: white;
}

.news > h1 {
  font-size: 3rem;
}

.news ul {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 8rem 20rem;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.news li {
  min-height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.news li img {
  height: 250px;
  width: 100%;
  margin: auto;
}

.news div {
  padding: 16px 1rem;
}

.news div h2 {
  font-size: 1.8rem;
}

.news div span {
  font-size: 1rem;
  color: skyblue;
}

.news div p {
  color: skyblue;
}

.news .sub form {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sub form input {
  height: 46px;
  width: 400px;
  padding-left: 20px;
  border-radius: 6px;
  background: white;
  color: navy;
}

.sub button {
  height: 40px;
  width: 100px;
  color: navy;
  border-radius: 4px;
  cursor: pointer;
}

/*Qualities section*/
.qualities ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem 22rem;
}

.qualities li {
  min-height: 200px;
  width: 260px;
  text-align: center;
  align-items: center;
  border-radius: 16px;
  border: 0.3rem solid navy;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.2s linear;
}

.qualities li:hover {
  transform: translateX(-10px);
}

.qualities i {
  font-size: 1.8rem;
}

/*Documents*/
.docs > p {
  font-size: 1.2rem;
  color: navy;
  border: 1px solid skyblue;
  border-radius: 8px;
  padding: 12px;
  width: 400px;
  margin: 16px auto 60px;
}

.docs > p span {
  font-size: 1.8rem;
  color: red;
}

.docs h1 {
  color: navy;
  font-size: 1.6rem;
}

.docs ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem 16rem;
  margin-top: 3rem;
}

.docs li {
  min-height: 100px;
  width: 380px;
  padding: 14px;
  border-radius: 8px;
  border: 0.1rem solid navy;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.docs li i {
  margin-bottom: 5px;
  font-size: 2rem;
}

.docs button {
  height: 40px;
  width: 100px;
  border-radius: 6px;
  background: navy;
  color: skyblue;
}

.faqs {
  text-align: left;
}

.faqs h1 {
  font-size: 3rem;
  color: red;
  padding: 1.6rem;
  text-align: center;
}

.faqs details {
  margin: 24px;
  width: 450px;
  margin: auto;
}

.faqs details summary {
  border-bottom: 2px solid navy;
  padding: 12px;
}

.faqs p {
  margin: 16px;
}

/** contact section **/

.contact {
  font-family: Poppins;
  min-height: 800px;
}

.main_form {
  background: navy;
  padding: 55px 55px;
  border-radius: 30px;
  width: 400px;
  margin: auto;
}

.contact .main_form .contactus {
  border: #fff solid 1px;
  padding: 0px 19px;
  margin-bottom: 20px;
  border-radius: 15px;
  width: 100%;
  height: 52px;
  background: #fff;
  color: #999999;
  font-size: 16px;
}

.contact .main_form .textarea {
  margin-bottom: 25px;
  padding: 0px 19px;
  color: #999999 !important;
  width: 100%;
  border: #fff solid 1px;
  border-radius: 15px;
  padding-top: 38px;
  background: #fff;
}

.contact .main_form .send {
  font-size: 16px;
  transition: ease-in all 0.5s;
  background-color: #fff;
  color: #ef4259;
  padding: 12px 70px;
  margin: 0 auto;
  display: block;
  border-radius: 30px;
}

.contact .main_form h2 {
  color: white;
  padding: 12px 6px;
}

.contact .main_form .send:hover {
  background-color: #8308eb;
  transition: ease-in all 0.5s;
  color: #fff;
}

#contact *::placeholder {
  color: #999999;
  opacity: 1;
}

.current {
  color: #fff;
  margin-top: -4px;
  position: absolute;
}

/** end contact section **/

/** footer **/

footer {
  font-family: Poppins;
  background: navy;
  padding: 16px;
  width: 100vw;
  color: white;
}

footer p {
  font-size: 1.4rem;
}

footer p span {
  font-size: 1.8rem;
}
footer > div {
  display: flex;
  flex-wrap: wrap;
}
footer div div {
  display: flex;
  width: 300px;
  margin: 30px auto;
  text-align: center;
  flex-direction: column;
}

.cont {
  text-align: center;
  margin-top: 31%;
}

.cont h3 {
  color: #fff;
  font-size: 45px;
  line-height: 30px;
  font-weight: bold;
  padding: 30px 0px 0px 0px;
}

.cont span {
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  padding: 30px 0px 30px 0px;
  display: inline-block;
  font-weight: bold;
}

.cont p {
  color: #fff;
  font-size: 17px;
  line-height: 30px;
  padding: 0 130px;
  padding-bottom: 60px;
}

.copyright {
  padding: 20px 0px;
  background: #fff;
}

.copyright p {
  color: #1e1e1e;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.copyright a {
  color: #1e1e1e;
}

.copyright a:hover {
  color: #0c0f38;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
}
/** end footer **/

@media screen and (max-width: 764px) {
  :root {
    font-size: 14px;
  }

  nav ul {
    position: fixed;
    right: 0px;
    height: 100vh;
    width: 240px;
    flex-direction: column;
    color: skyblue;
    background: navy;
    transform: translateX(100%);
    transition: all 0.2s linear;
  }

  ul#navlinks.show {
    transform: translateX(0%);
  }

  .burger {
    display: flex;
    position: relative;
  }

  .burger.close {
    color: white;
  }

  .burger.close .line {
    display: none;
  }

  .burger.close .bi-x {
    display: block;
    font-size: 2rem;
    position: fixed;
  }

  /*Banner*/
  .banner .text {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .news li,
  .sub input,
  .docs > p,
  .docs li,
  .faqs details,
  .main_form {
    width: 95vw;
  }
}
